<h1>Sign In</h1>

<form action="/signin" method="POST">
    <div class="mb-3">
      <label for="validationCustomUsername" class="form-label">Username</label>
  <input name="username" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>    <div id="emailHelp" class="form-text">Type in your Username here</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password"type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Type in your Password here</div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{{#if msg}}
    <div class="alert alert-danger" role="alert">{{msg}}</div>
{{/if}}
